.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #b1bfcc;
  font-size: calc(12px + 2vmin);
  color: #b2c5e9;
  height: 90px;
  display: flex;
  padding-left: 20px;
  padding-bottom: 25px;
  padding-top: 25px;

}

.App-navbar {
  background-color: #b1bfcc;
  font-size: calc(12px + 2vmin);
  color: #131b2b;
  height: 65px;
  display: flex;
  padding-left: 20px;
  padding-bottom: 25px;
  position: sticky;
  top: 0;
}

.App-body {
  animation: Color-shift infinite 20s linear;
  background-color: #3f495e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Color-shift {
  0% {
    background-color:  #3f495e;
  }
  50% {
    background-color:  #3870e0;
  }
  100% {
    background-color:  #3f495e;
  }
}
