p{
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
}

.display-linebreak {
  white-space: pre-line;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  
  max-width: 15vmin;
  max-height: 15vmin;
}

.App-bg {
  position: center;
  display: flex;
  max-width: 100%;
}

.Top-container {
  position: relative;
  background-color: rgb(7, 7, 31);
  text-align: center;
  display: flex;
  max-width: 100%;
  height: auto;
  width: auto;
  overflow: hidden;
}

.Title-bar-home {
  font-size: 3.8vw;
  color:rgb(224, 222, 222);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
}

.Title-bar {
  font-size: 3.5vw;
  color:rgb(224, 222, 222);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -5%);
}

.Top-logo{
  align-self: center;
  max-width: 60vmin;
  max-height: 60vmin;
}

.App-header {
  background-color: #b1bfcc;
  font-size: calc(12px + 2vmin);
  color: #b2c5e9;
  height: 33px;
  display: flex;
  padding-left: 10px;
  padding-bottom: 25px;
  padding-top: 30px;
}

.App-navbar {
  background-color: #24384b;
  font-size: calc(12px + 2vmin);
  color: whitesmoke;
  height: 25vm;
  display: flex;
  padding-left: 30vm;
  padding-bottom: 40vm;
  position: sticky;
  top:0;
  z-index: 999;
}

ul.App-navbar {

  list-style-type: none;
  margin: 0px;
  padding: 0px 1px 1px 1px;
  
}

li.App-navbar {
  display: block;
  padding: 12px;
  margin: 0px;
  text-align: center;
}

li:hover{
  background-color: #58656b; 
  color: rgb(45, 51, 63);
}

.App-sidebar {
  position: fixed;
  top: 40%;
  left: -220px;
  transition: .5s;
  padding: 10px;
  z-index:998;
  
}

.App-sidebar:hover {
  left:-10px;
  transition-duration:  .5s;
}

.Request-rotate-device {
  position: sticky;
  display: float;
  max-height: 10vm;
  font-size: 8vm;
  background-color: #ac9999;
  background-clip: content-box;
  bottom:0;
  left: 0;
  z-index: 998;
}

.App-footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  z-index:997;
  background-color:  #6c8d9c; 
  overflow: hidden;
}

.Footer-text {
  color:  #0b1013;
  text-align: center;
}

.Text-button {
  border: none;
  background-color: inherit;
  color: inherit;
  size: inherit;
  cursor: pointer;
  display: inline-block
}
.Regular-button {
  font-size: 8px+6vmin;
  padding: 4px 14px;
  font-family: 'Lato', sans-serif;
  border-radius:2px;
  margin: 2vmin;
  background-clip: border-box;
  cursor: pointer;
  background-color: white;
  float: right;
}

.Input-field{
  font-family: 'Lato', sans-serif;
  font-size: calc(11px + 2vmin);
  border-radius: 5px;
  padding: 2vmin;
  resize: none;
  overflow:hidden;
  position: center;
  width: 130%;
  margin: 3px;
}

.Input-large{

  font-family: 'Lato', sans-serif;
  font-size: calc(5px + 2vmin);
  border-radius: 5px;
  padding: 2vmin;
  resize: none;
  overflow:hidden;
  height: 20vh;
  width: 150%;
  margin: 3px;
}

.Input-label{
  font-family: 'Lato', sans-serif;
  font-size: calc(8px + 2vmin);
  
}

.Col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.Col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



@media only screen and (orientation: landscape){
  .Request-rotate-device{
    display: none;
  }
}


.App-body {
  animation: Color-shift infinite 20s linear;
  background-color: #3f495e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 40px;
}

.App-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 15px;
  max-width: 90%
}

.App-projectbox {
  display: flex;
  border: 3px solid #13171f;
  border-radius: 8px;
  width: 60%;
  margin: 10px;
  text-align: justify;
  text-justify: inter-word;
  flex-direction: column;
  background-color: #3e5583;
  background-clip: padding-box;
  padding: 1%;
}



.App-link {
  color: #61dafb;
}

a {
  color: whitesmoke;
  text-decoration: none;
  box-sizing: inherit;
}

a:hover {
  color: rgb(45, 51, 63);
  box-sizing: inherit;
}

.Regular-button:hover {
  background-color: #3870e0;
  color: #13171f;
  border-color: #13171f
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes Color-shift {
  0% {
    background-color:  #3f495e;
  }
  50% {
    background-color:  #3870e0;
  }
  100% {
    background-color:  #3f495e;
  }
}

